@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  width: 7px;
  @apply dark:bg-brand-primary bg-brand-dark-body;
}

body::-webkit-scrollbar-track {
  widows: 5px;
  @apply dark:bg-brand-dark-body;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.spacing {
  @apply w-10/12 mx-auto container;
}

.center {
  @apply justify-center items-center;
}

.secondary-title {
  @apply md:text-3xl text-2xl font-bold dark:text-white text-brand-dark-body relative;
  z-index: 2;
}

.secondary-title::before {
  content: "";
  @apply block w-12 h-2 bg-brand-primary rounded-full mb-1 relative;
}

.section-paragraph {
  @apply dark:text-white text-brand-dark-body text-opacity-75 mt-2 w-full max-w-3xl relative;
  z-index: 2;
}

.section-big-title {
  @apply absolute md:text-9xl text-8xl top-0 font-bold dark:text-brand-dark-body text-transparent uppercase;
  z-index: 1;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.15);
}

html.dark .section-big-title{
  -webkit-text-stroke: 1px rgb(255 255 255 / 15%);
}


[id] {
  scroll-margin-top: 100px;
}

.h-screen-partial {
  height: 80vh;
}

.nav-dot {
  @apply block w-5 h-5 border-2 border-gray-500 bg-brand-dark-body relative;
  transition: background 200ms, border-color 200ms;
  outline: none;
}

.nav-dot:hover {
  @apply border-brand-primary transform scale-110 transition-all duration-200;
}

.nav-dot:hover::after{
  @apply opacity-90 transition-all duration-200;
}

.nav-dot::after{
  content: attr(data-title);
  @apply dark:text-white text-brand-primary text-sm absolute capitalize opacity-0 transition-all duration-200 ml-1;
}

.selected-circle {
  @apply border-gray-500 bg-brand-primary transform rotate-45;
}

.nav-dot:hover span {
  opacity: 1;
}


.styled-link {
  @apply text-brand-primary cursor-pointer relative transition-all duration-200;
}

.styled-link::after {
  content: "";
  bottom: 0;
  height: 1px;
  left: 0;
  width: 0;
  @apply bg-brand-primary absolute transition-all duration-200;
}

.styled-link:hover::after{
  width: 100%;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}


.after-underline {
  @apply relative inline-block
}

.after-underline::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0px;
  width: 100%;
  transition: 200ms;
  @apply bg-brand-primary/20
}

.after-underline:hover::after{
  height: 55%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
